{% extends 'base.html' %}

{% import 'macros.html' as macro%}

{% block content %}

<body class="bg-dark darken-3">


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <div id="carousel-example-9" class="carousel slide carousel-fade" data-ride="carousel">


                    <div class="carousel-inner" role="listbox">

                        <div class="carousel-item active">
                            {%for headline in bbc_news%}
                            {%if headline.urlToImage%}
                            <div class="view">
                                <img id="sorcesimg" class="d-block w-100" src="{{headline.urlToImage}}"
                                    alt="First slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">{{headline.title}}</h3>
                                <a href="{{headline.url}}">Read More</a>
                            </div>
                        </div>

                        <div class="carousel-item">
                            {%elif headline.urlToImage%}
                            <div class="view">
                                <img id="sorcesimg" class="d-block w-100" src="{{headline.urlToImage}}"
                                    alt="First slide">
                                <div class="mask rgba-black-light"></div>
                            </div>
                            <div class="carousel-caption">
                                <h3 class="h3-responsive">{{headline.title}}</h3>
                                <a href="{{headline.url}}">Read More</a>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>

                    </div>

                    <a class="carousel-control-prev" href="#carousel-example-9" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-9" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">
            <hr>
        </div>

        <div style="text-align: center; color:rgba(115, 255, 0, 0.801);">
            <h2><b>GENERAL NEWS</b></h2>
        </div>

        <div class="row">
            {%for headline in general %}
            <div class="col-md-6">
                <div class="card yellow">
                    <div class="view overlay">
                        <img class="card-img-top" height="190px" src="{{headline.urlToImage}}" alt="story image"
                            onerror="this.onerror=null;this.src='http://www.raincityhousing.org/wp-content/uploads/2017/09/NEWS_LogoRGB_FIN.jpg';">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body  white-text rounded-bottom">
                        <a class="activator waves-effect" href="{{headline.url}}"><i
                                class="fas fa-info-circle white-text"></i></a>
                        <h4 class="card-title">{{headline.name}}</h4>
                        <hr class="hr-light">
                        <p class="card-text white-text mb-4">{{headline.title}}
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>





</body>
{% endblock %}